<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://xg-yun-ftn.weiyun.com/ftn_handler/e3d500ed806a311e14c75428f61226d47449f61a4b5de4edd167f4f97962f64d/fish.ipa?fname=fish.ipa&from=30111&version=2.0.0.2&uin=1265256744</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://xg-yun-ftn.weiyun.com/ftn_handler/e05170aba8434433abf2b54233f6a2c96851bc91a7d4276c2f717088c6c4943d9c88038d4de02546412e394b7b2deabbc28e592fe78541cddb03898900d74f28/180.png?fname=180.png&from=30013&version=2.0.0.2&uin=1265256744</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://xg-yun-ftn.weiyun.com/ftn_handler/5c48e42597bf46adde1f8acbc5c6f22a66be2cf99a292c279ceb32410f83c551/120.png?fname=120.png&from=30111&version=2.0.0.2&uin=1265256744</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.qiqi1.dlgame</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>雷动互联科技有限公司</string>
                <key>title</key>
                <string>2050游戏中心</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
Status API Training Shop Blog About
